{% load mathfilters %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>ArientoSend : Client</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico"%}"/>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
	<link rel="stylesheet" href="{% static "css/animate.min.css"%}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}">
   	<link rel="stylesheet" href="{% static "css/owl.theme.css"%}">
	<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}">
	<link rel="stylesheet" href="{% static "css/style.css"%}">
 
	  <script src="{% static "js/jquery-1.10.2.js"%}"></script>
  <script src="{% static "js/jquery-ui.js"%}"></script>
<script type="text/javascript">



</script> 
</head>
	<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <style>
        #home {height: auto;}


	#logoutsection{
		background-color: #337AB7;
		height: 50px;
	}
	#logoutsection form{
		float: right;
    		padding-right: 5px;
    		padding-top: 10px;
	}
	#logoutsection form span{
		padding-right: 5px;
		color: white;
	}


   </style>
<!-- Home section
================================================== -->

<div id="logoutsection">
	<form method="GET" action="logout" >
	{% csrf_token %}
	<span>{{ user_email }}</span><input name="logout" type="submit" value="logout">
	</form>
</div>

<section id="home" class="parallax-section homediv">

	<a href="index">
			<img src="{% static "images/bluewhite_logo_full_w_tag.png"%}" id = "logo" style="margin-top:50px;width:450px;height:110px;">
		</a>
	<div id="tabs">
  <ul>
    <li><a href="#fragment-1"><span>Send</span></a></li>
    <li><a href="#fragment-2"><span>Inbox</span></a></li>
    <li><a href="#fragment-3"><span>Outbox</span></a></li>
  </ul>
  <div id="fragment-1">
	  <form method="post" action="client-send" enctype="multipart/form-data">{% csrf_token %}
			<p class="text-primary">Send to: </p> 
			<input type="email" name="email" placeholder="Enter recipient email" required> 
			<br>
			<p class="text-primary">Password to retrieve file:</p>
			<input type="password" name="password" placeholder="Enter password" required> 
			<br>
			<p class="text-primary">Message:</p> 
			
            <textarea rows = "4" cols = "50" name="message" placeholder="Enter a message (optional)" ></textarea> 
			<br>
			<p class="text-primary">Attach file(s):</p>
			<input type="file" name="attachments" id="attachedFiles" required multiple>
			<input type = "submit" class="btn btn-danger" id = "sendFiles" value = "Send Files">
		</form> 

  </div>
  <div id="fragment-2">
	{% if inbox_list %}
		<ul>
		{% for file in inbox_list %}
			<li><span>{{ file.file_sent_date|date:"c" }}</span> : ({{ file.download_limit|sub:file.download_count }} remaining) from {{ file.sender_email }}
				{% if file.downloadable %}
				<form method="post" action="user-download" enctype="multipart/form-data">{% csrf_token %}
					<input type="hidden" name="key" value="{{ file.file.id }}">
					<input type="submit" class="btn-sm btn-danger" value="Download">
				</form>
				{% endif %}
			</li>
            <br>
		{% endfor %}
		</ul>
	{% else %}
		<p>There are no files in your inbox.</p>
	{% endif %}

  </div>
  <div id="fragment-3">
	{% if outbox_list %}
		<ul>
		{% for file in outbox_list %}
			<li><span>{{ file.file_sent_date|date:"c" }}</span> : ({{ file.download_limit|sub:file.download_count }} remaining) to {{ file.recipient_email }}
				{% if file.downloadable %}
				<form method="post" action="user-download" enctype="multipart/form-data">{% csrf_token %}
					<input type="hidden" name="key" value="{{ file.file.id }}">
					<input type="submit" class="btn-sm btn-danger" value="Download">
				</form>
				{% endif %}
			</li>
            <br>
		{% endfor %}
		</ul>
	{% else %}
		<p>There are no files in your outbox.</p>
	{% endif %}
  </div>
</div>

<script>
$( "#tabs" ).tabs();
</script>
</section>

<!-- Footer section
================================================== -->
<footer>
	<div class="container">

		<div class="row">

			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<h2>ArientoSend</h2>
				<p>ArientoSend is a collaborative project done as a part of requirement for CS130: Software Engineering at UCLA in Spring of 2016.</p>
				<p>Licensed under GNU General Public License v3.0</p>
			</div>
			<!-- <div class="link-list col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.6s">
				<h2>Company</h2>
				<a href="#">About</a>
                <a href="#">Blog</a>
				<a href="#">Team</a>
				<a href="#">Career</a>
			</div>
			<div class="link-list col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.6s">
				<h2>Support</h2>
				<a href="#">Email Us</a>
				<a href="#">FAQs</a>
				<a href="#">Service Terms</a>
				<a href="#">Licenses</a>
			</div> -->
			<div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
				<h2>Find us on Github</h2>
				<ul class="social-icon">
					<li><a target="_blank" href="https://github.com/michellekli/arientosend" class="fa fa-github wow fadeIn" data-wow-delay="0.3s"></a></li>
				</ul>
			<div>

		</div>
	</div>

	<div class="col-md-12 col-sm-12">
		<div class="copyright-text wow bounceIn">
			
		</div>
	</div>

</footer>

<!-- Javascript 
================================================== -->
<script src="{% static "js/jquery.js"%}"></script>
<script src="{% static "js/bootstrap.min.js"%}"></script>
<script src="{% static "js/smoothscroll.js"%}"></script>
<script src="{% static "js/jquery.nav.js"%}"></script>
<script src="{% static "js/jquery.parallax.js"%}"></script>
<script src="{% static "js/owl.carousel.min.js"%}"></script>
<script src="{% static "js/isotope.min.js"%}"></script>
<script src="{% static "js/wow.min.js"%}"></script>
<script src="{% static "js/counter.js"%}"></script>
<script src="{% static "js/custom.js"%}"></script>
<script src="{% static "js/constrain.js"%}"></script>

<script>
window.onload = function() {
function vis()
{
	var downlist = $('div[id="fragment-2"] > ul > li > span');
	for(var i=0;i<downlist.length;i++)
	{
        var d = new Date(downlist[i].textContent);
        downlist[i].firstChild.nodeValue = d.toString();
	}
	var uplist = $('div[id="fragment-3"] > ul > li > span');

	for(var i=0;i<uplist.length;i++)
	{
        var d = new Date(uplist[i].textContent);
        uplist[i].firstChild.nodeValue = d.toString();
	}
}
vis();
function cupdate(){
    var feedback = $.ajax({
        type: "POST",
        url: "refclient",
        data:{
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        async: true
    }).done(function(data){
//	console.log(data)
  	$("#fragment-2").html(data.inbox);
   	$("#fragment-3").html(data.outbox);
	vis();

        setTimeout(function(){cupdate();}, 10000);
    }).fail(function(){
        setTimeout(function(){cupdate();}, 10000);
    }).responseText;

    //console.log(feedback.inbox);
}
setTimeout(function() { cupdate(); }, 5000);



};

</script>
</body>
</html>
